* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: white;
}
body {
  width: auto;
  margin-top: 10rem;
}
.container {
  margin-top: 20%;
  margin: auto;
  background-color: #1c1c1c;
  width: fit-content;

  border-radius: 2rem;
}
.screen {
  width: 15rem;
  height: 8rem;
  background-color: #1c1c1c;
  border-radius: 1.5rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 3rem);
  grid-template-rows: repeat(6, 3rem);
  gap: 0.4rem;
  padding-bottom: 0%;
  justify-content: center;
  padding-top: 1rem;
  height: 18rem;
}
.cont {
  background-color: #505050;
  border-radius: 3rem;
  text-align: center;
  padding-top: 0.8rem;
}

.cont2 i {
  color: #1c1c1c;
}
.cont17 {
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 5rem;
}

.cont4,
.cont8,
.cont12,
.cont16 {
  color: white;
  background-color: #ff9500;
}
.cont1,
.cont2,
.cont3 {
  background-color: #d4d4d2;
}
.cont1 a,
.cont2 a,
.cont3 a {
  color: #1c1c1c;
}
.cont:hover {
  background-color: #5e5d5d83;
  transition: 0.5s;
}

.cont4:hover,
.cont8:hover,
.cont12:hover,
.cont16:hover {
  color: white;
  background-color: #aa6402;
}

.cont1:hover,
.cont2:hover,
.cont3:hover,
.cont2:hover {
  background-color: #aaaaaa;
  color: #1c1c1c;
}
